matplotlib==2.1.0
tensorflow==1.15.2
numpy==1.13.3
inflect==0.2.5
librosa==0.6.0
scipy==1.0.0
Unidecode==1.0.22
pillow

tqdm~=4.45.0
setuptools~=41.0.0
jamo~=0.4.1
tensorboardX~=1.1
tensorflow-gpu~=1.15.0
SoundFile~=0.10.3.post1